html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.chatWrapper {
  height: 95vh;
  position: absolute;
  right: 0;
  width: 300px;
}

.chatBox {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  max-height: 95vh;
  margin-bottom: 30px;
  overflow: hidden;
}

.chatMessage {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  font-size: 18px;
  line-height: 1.4em;
  margin-top: 5px;
  width: 100%;
}

/*
* chatMessage
*   body
*     profile
*     message
*   user
*/

/* 
#0B7383
#63A9E4
#A464C8
#D34C5F 
*/

.profile img {
  width: 100%;
  background-color: #3c3c3c;
  max-width: auto;
}

.body {
  width: 300px;
  background: #0b7383;
  padding: 10px 15px 0px 20px;
  color: #fff;
  padding-bottom: 30px;
}

img {
  max-width: 250px;
}

img.emote {
  width: 25px;
  max-width: 25px;
}

code {
  display: block;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px;
}

.user {
  color: rgba(255, 255, 255, 0.3);
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  bottom: 3px;
  right: 15px;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
}

.message {
  font-family: 'Roboto';
}

/* Mod skin start */

.moderator {
  position: absolute;
  right: 0;
}

.moderator .strokeColor {
  stroke: rgba(255, 255, 255, 0.1);
}

.moderator .bubble {
  background-color: #63a9e4;
  padding-top: 15px;
}

.moderator .profile img {
  border-color: #63a9e4;
}

/* Mod skin end */

/* Cheer skin start */

.bits .bubble {
  background-color: #d34c5f;
  color: #3c3c3c;
  padding-top: 15px;
}

.bits .profile img {
  border-color: #d34c5f;
}

.cheer {
  background-color: #fff;
  height: 25px;
  border: solid 3px #d34c5f;
  position: absolute;
  right: -1px;
  top: -14px;
  text-align: right;
  padding: 0px 10px;
  font-family: 'Black Ops One', cursive;
  color: rgb(66, 52, 78);
}

/* Cheer skin end */

/* Sub skin start */

/* Sub skin end */

/* Host skin start */

/* Host skin end */

/* Raid skin start */

/* Raid skin end */

/* Bot skin start */

.bot .bubble {
  background-color: #337fad;
}

.bot .profile img {
  border-color: #337fad;
}

/* Bot skin end */
